<div class="container mt-5">
  <h1>Bem vinda, Manuella.</h1>
  <mat-divider />
  <div class="container-section mt-5">
    <div class="image-container">
      <img src="./../../../assets/image-1.jpg" alt="Imagem" />
    </div>
    <div class="text-container">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit illo illum
      eligendi eveniet quaerat hic sit autem iusto! Nam praesentium, qui
      nesciunt tenetur expedita iusto cum dolore. Pariatur autem officia,
      commodi id ipsum magni itaque saepe dignissimos suscipit sint consequatur
      aspernatur quod at quibusdam nisi qui ipsa a odio iusto repudiandae magnam
      nemo. Voluptates recusandae error blanditiis explicabo voluptate, quasi
      minus accusamus quaerat nam dolore debitis eum, unde delectus incidunt hic
      molestiae ad! Nostrum sint aspernatur ullam a eaque rerum eligendi, earum
      nulla aut magnam voluptatum illum debitis explicabo autem repellendus
      ratione suscipit aperiam reiciendis quidem! Atque, asperiores alias.
      Repellendus, voluptatem porro. Eveniet dolore incidunt necessitatibus
      error! Iure ad quo dignissimos hic perferendis quam soluta animi nobis
      reprehenderit iste quis molestias vel vero repellendus voluptas debitis
      autem provident dolore consequatur inventore, dolor fugit alias? Alias
      voluptates quidem quos, obcaecati aperiam eum vel placeat cupiditate nam?
      Enim doloremque vitae soluta recusandae vel animi illum facere vero nulla
      quasi cumque eos optio aut numquam sed atque officiis delectus modi
      consectetur, dolores suscipit necessitatibus quae maxime.
    </div>
  </div>
</div>
