<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
      <span></span>
      <span>Banco União</span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<mat-drawer #drawer mode="side">
  <div class="sidenav">
    <a>Lista de Clientes</a>
    <button routerLink="/cliente/novo">Cadastrar Novo Cliente</button>
  </div>
</mat-drawer>
